.card-about {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Opcional: ajusta la altura según sea necesario */
    margin: 10px;
    border: 1px solid black;
}

.card-about .card-image {
    margin-bottom: 20px;
}

.card-about .card-image img {
    width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Permite que la imagen mantenga su relación de aspecto */
}

.card-about .card-description {
    max-width: 500px;
    /* border: 1px solid black; */
    text-align: justify;
}