.card-playstation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    height: 100%;
    /* Opcional: ajusta la altura según sea necesario */
    margin: 10px;
    /* border: 1px solid rgb(202, 197, 197); */
}

.card-playstation .card-image {
    margin-bottom: 20px;
}

.card-playstation .card-image img {
    width: 300px;
    height: 300px;
}

.card-playstation .card-description {
    max-width: 500px;
    text-align: justify;
}

/* .card-playstation .buttons-playstation {
    display: flex;
    justify-content: space-between;
} */